#artists{
  position: relative;
  .list{
    &.artists{
      figure{
        figcaption{
          background-color: transparent;
          text-align: center;
        }
      }
    }
  }

  .profile{
    width   : 100%;
    height  : 100%;
    padding-top: 50px;
    z-index : 10;
    left    : 0px;
    bottom  : -100%;
    background: #19191B;
    transition: bottom .3s;
    overflow  : auto;
    &.true{
      bottom: 0%;
    }
    .profileTool{
      width           : 100%;
      height          : 50px;
      padding         : 0px 5px;
      background-color: #19191b;
      border-bottom   : 1px solid #333;
      display         : flex;
      align-items     : center;
      justify-content : space-between;
      position        : absolute;
      z-index         : 10;
      top             : 0px;
      left            : 0px;
      .sharebutton{
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 60%;
        &.prev{
          background-image: url($icon-close);
        }
      }
    }
    .in{
      >.top{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        >.left{
          overflow: hidden;
          @include radius(1000px);
          img{
            width: 100%;
            float: left;
          }
        }
        >.right{
          color: #fff;
          .list{
            width: 100%;
            >li{
              width: 100%;
              >ul{
                width: 100%;
                height: 100%;
                display: flex;
                padding: 5px 0px;
                align-items: center;
                >li{
                  letter-spacing:0.1em;
                  display: inline-block;
                  &:first-letter{
                    text-transform:uppercase;
                  }
                  &:last-child{
                    >p{
                      padding: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .community{
        width: 120px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        color: #fff;
        margin-right: 10px;
        @include radius(100px);
        &.facebook{
          background-color: rgb(59,89,152);
        }
        &.weibo{
          background-color:  #df2029;
        }
        &:last-child{
          margin-right: 0px;
        }
      }

      .bottom{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
      }
    }
  }
  @include embed{
    .profile{
      position: absolute;
      .in{
        padding: 10px !important;
        .top{
          padding: 15px 15px 15px 15px;
          >.left{
            width: 25%;
            flex-direction: column;
            align-self: flex-start;
          }
          >.right{
            width: 75%;
            padding-left: 20px;
            .list{
              width: 100%;
              >li{
                width: 100%;
                min-height: 50px;
                border-bottom:1px solid #333;
                &:last-child{
                  border-bottom: none;
                }
                >ul{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  padding: 5px 0px;
                  align-items: center;
                  >li{
                    letter-spacing:0.1em;
                    display: inline-block;
                    &:first-letter{
                      text-transform:uppercase;
                    }
                    &:first-child{
                      width: 20%;
                      padding-left: 10px;
                    }
                    &:last-child{
                      width: 80%;
                      >p{
                        padding: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .bottom{
          padding: 15px 15px 15px 15px;
        }
      }
    }
  };
  @include pc{
    .profile{
      position: absolute;
      .in{
        padding: 10px 10px 10px 10px !important;
        .top{
          padding: 5px 0px;
          flex-direction: row;
          >.left{
            width: 25%;
            flex-direction: column;
            align-self: flex-start;
          }
          >.right{
            width: 75%;
            padding-left: 20px;
            .list{
              width: 100%;
              >li{
                width: 100%;
                min-height: 50px;
                border-bottom:1px solid #333;
                &:last-child{
                  border-bottom: none;
                }
                >ul{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  padding: 5px 0px;
                  align-items: center;
                  >li{
                    letter-spacing:0.1em;
                    display: inline-block;
                    &:first-letter{
                      text-transform:uppercase;
                    }
                    &:first-child{
                      width: 20%;
                      padding-left: 10px;
                    }
                    &:last-child{
                      width: 80%;
                      >p{
                        padding: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .bottom{
          padding: 5px 0px;
        }
      }
    }
  };
  @include pad{
    .profile{
      position: absolute;
      .in{
        padding: 10px !important;
        .top{
          padding: 5px 0px;
          flex-direction: row;
          >.left{
            width: 25%;
            flex-direction: column;
            align-self: flex-start;
          }
          >.right{
            width: 75%;
            padding-left: 20px;
            .list{
              width: 100%;
              >li{
                width: 100%;
                min-height: 50px;
                border-bottom:1px solid #333;
                &:last-child{
                  border-bottom: none;
                }
                >ul{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  padding: 5px 0px;
                  align-items: center;
                  >li{
                    letter-spacing:0.1em;
                    display: inline-block;
                    &:first-letter{
                      text-transform:uppercase;
                    }
                    &:first-child{
                      width: 20%;
                      padding-left: 10px;
                    }
                    &:last-child{
                      width: 80%;
                      >p{
                        padding: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .bottom{
          padding: 5px 0px;
        }
      }
    }
  };
  @include min{
    .profile{
      position: fixed;
      padding-left: 80px;
      .in{
        padding: 10px !important;
        >.top{
          align-items    : center;
          flex-direction : column;
          >.left{
            align-items: center;
            @include radius(1000px);
            img{
              width: 300px;
            }
          }
          >.right{
            .list{
              >li{
                width: 100%;
                justify-content: center;
                >ul{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  padding: 10px 0px;
                  align-items: center;
                  flex-direction: column;
                  >li{
                    letter-spacing:0.1em;
                    &:first-child{
                      margin-bottom: 5px;
                      color: #666;
                    }
                    &:last-child{
                      font-size: 1.2em;
                      >p{
                        padding: 5px;
                      }
                    }
                  }
                }
                &:last-child{
                  padding-top: 20px;
                }
              }
            }
          }
        }
        >.bottom{
        }
      }
    }
  };
  @include mobile{
    .profile{
      position: fixed;
      padding-bottom: 60px;
      .in{
        padding: 10px !important;
        >.top{
          align-items    : center;
          flex-direction : column;
          >.left{
            align-items: center;
            @include radius(1000px);
            img{
              width: 160px;
            }
          }
          >.right{
            .list{
              >li{
                width: 100%;
                justify-content: center;
                >ul{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  padding: 10px 0px;
                  align-items: center;
                  flex-direction: column;
                  >li{
                    letter-spacing:0.1em;
                    &:first-child{
                      margin-bottom: 5px;
                      color: #666;
                    }
                    &:last-child{
                      font-size: 1.2em;
                      >p{
                        padding: 5px;
                      }
                    }
                  }
                }
                &:last-child{
                  padding-top: 20px;
                }
              }
            }
          }
        }
        >.bottom{
        }
      }
    }
  };
}
