$shareWidth : 100vw;

@mixin radius($val) {
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  border-radius: $val;
}

input,button{
  height: 45px;
  border: none;
  display: block;
  -webkit-appearance:none;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  @include radius(3px);
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

*{
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #19191B;
  #app{
    width:$shareWidth;
    header,nav,.container,footer{
      width: $shareWidth;
      float: left;
      >.in{
        width: 100%;
        max-width: 1280px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
      }
    }
    #wrapper{
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
    }
    header{
      height : 50px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #222;
      position: fixed;
      z-index: 10;
      top : 0px;
      left: 0px;
      #logo{
        font-size: 2em;
        font-weight: bold;
        color: #fff;
      }
    }
    nav{
      width : 13%;
      height: 100vh;
      padding: 10px;
      background-color: #252528;
      letter-spacing:0.1em;
      >.logo{
        color: #fff;
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 1.5em;
      }

      .member{
        width: 100%;
        margin: 10px 0px;
        padding: 15px 0px;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        >a,span{
          display: inline-block;
        }
        span{
          width: 4%;
        }
        >a{
          width: 48%;
          padding: 7px 0px;
          background-color: #666;
          color:#fff;
          font-size: 0.9em;
          text-align: center;
          @include radius(4px);
        }
      }

      a{
        display: block;
        padding: 5px 0px;
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
      }
      .mainNav{
        width: 100%;
        .navbar-nav{
          width: 100%;
          >li{
            font-size: 0.9em;
          }
        }
      }
    }
    .container{
      width: 87%;
      height: 100vh;
      overflow-x: hidden;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      >.content{
        display: inline-flex;
        flex-wrap: wrap;
        align-items:flex-start;
        flex-direction: row;
        align-content: flex-start;
        &.left{
          width:82%;
          height: 100vh;
          overflow-x: hidden;
        }
        &.right{
          width: 18%;
          height: 100vh;
          background-color: #252528;
        }
      }
    }
  }
}

#member{
  width     : 100%;
  max-width : 400px;
  padding   : 15px;
  display   : block;
  margin    : auto;
  background: #252528;
  .logo{
    width: 100%;
    padding: 0px 0px 15px 0px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 1.6em;
    a{
      color: #fff;
    }
  }
  input{
    width: 100%;
    margin-bottom: 20px;
    background-color: #323235;
  }
  button{
    width: 100%;
    margin-bottom: 25px;
    &.login{
      background-color: #E62117;
    }
    &.back{
      font-size: 0.8em;
      background-color: transparent;
      border: 1px solid #444;
    }
  }
  p{
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    a{
      color: #E62117;
    }
  }
  ul{
    &.shear{
      margin-top: 20px;
      width: 100%;
      display: inline-block;
      text-align: center;
      >li{
        width: 40px;
        height: 40px;
        background-color: #fff;
        display: inline-block;
        flex-wrap: wrap;
        margin: 0px 5px;
        a{
          width: 100%;
          height: 100%;
          display: inline-flex;
        }
      }
    }
  }
}

.sliderAction{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  cursor: move;
  >.in{
    display: block;
    width: 100%;
    max-width : 900px;
    margin: auto;
    >.wrap{
      width: 100%;
      display: inline-flex;
      height: 100%;
      position: relative;
      >.move{
        width: auto;
        display: inline-flex;
        position: relative;
      }
    }
    ul{
      display: inline-flex;
      >li{
        width: 900px;
        display: inline-block;
        a{
          width: 100%;
          display: block;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}

#audio{
  width: 100vw;
  height: 60px;
  background-color: #252528;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #000;
  >.audioShear{
    height: 100%;
    display: inline-flex;
    align-items: center;

    ul{
      &.controls{
        margin: auto;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        >li{
          width: 30px;
          height: 30px;
          display: inline-block;
          margin: 0px 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          @include radius(100px);
          &.status{
            width: 40px;
            height: 40px;
            &.play{
              background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQxLjk5OSA0MS45OTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQxLjk5OSA0MS45OTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4Ij4KPHBhdGggZD0iTTM2LjA2OCwyMC4xNzZsLTI5LTIwQzYuNzYxLTAuMDM1LDYuMzYzLTAuMDU3LDYuMDM1LDAuMTE0QzUuNzA2LDAuMjg3LDUuNSwwLjYyNyw1LjUsMC45OTl2NDAgIGMwLDAuMzcyLDAuMjA2LDAuNzEzLDAuNTM1LDAuODg2YzAuMTQ2LDAuMDc2LDAuMzA2LDAuMTE0LDAuNDY1LDAuMTE0YzAuMTk5LDAsMC4zOTctMC4wNiwwLjU2OC0wLjE3N2wyOS0yMCAgYzAuMjcxLTAuMTg3LDAuNDMyLTAuNDk0LDAuNDMyLTAuODIzUzM2LjMzOCwyMC4zNjMsMzYuMDY4LDIwLjE3NnoiIGZpbGw9IiM5OTk5OTkiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==)
            }
            &.pause{
              background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQ0IDQ0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NCA0NDsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgo8Zz4KCTxwYXRoIGQ9Ik0xNS41LDBjLTEuMTAzLDAtMiwwLjg5Ny0yLDJ2NDBjMCwxLjEwMywwLjg5NywyLDIsMnMyLTAuODk3LDItMlYyQzE3LjUsMC44OTcsMTYuNjAzLDAsMTUuNSwweiIgZmlsbD0iIzk5OTk5OSIvPgoJPHBhdGggZD0iTTI4LjUsMGMtMS4xMDMsMC0yLDAuODk3LTIsMnY0MGMwLDEuMTAzLDAuODk3LDIsMiwyczItMC44OTcsMi0yVjJDMzAuNSwwLjg5NywyOS42MDMsMCwyOC41LDB6IiBmaWxsPSIjOTk5OTk5Ii8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==)
            }
          }
          &.prev{
            background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU3IDU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1NyA1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgo8cGF0aCBkPSJNNTYuNDYxLDguNjI1Yy0wLjMzMy0wLjE3Mi0wLjczLTAuMTQ1LTEuMDM2LDAuMDY5TDI5LDI3LjI3N1Y5LjVjMC0wLjM3My0wLjIwOC0wLjcxNi0wLjUzOS0wLjg4OCAgYy0wLjMzMy0wLjE3Mi0wLjczMS0wLjE0Ni0xLjAzNiwwLjA3bC0yNywxOUMwLjE1OCwyNy44NjksMCwyOC4xNzUsMCwyOC41czAuMTU4LDAuNjMxLDAuNDI1LDAuODE3bDI3LDE5ICBDMjcuNTk3LDQ4LjQzOSwyNy43OTgsNDguNSwyOCw0OC41YzAuMTU3LDAsMC4zMTUtMC4wMzcsMC40NjEtMC4xMTJDMjguNzkyLDQ4LjIxNiwyOSw0Ny44NzMsMjksNDcuNVYyOS43MjNsMjYuNDI1LDE4LjU4MyAgYzAuMTcyLDAuMTIsMC4zNzMsMC4xODIsMC41NzUsMC4xODJjMC4xNTcsMCwwLjMxNS0wLjAzNywwLjQ2MS0wLjExMkM1Ni43OTIsNDguMjAzLDU3LDQ3Ljg2LDU3LDQ3LjQ4N1Y5LjUxMyAgQzU3LDkuMTQsNTYuNzkyLDguNzk3LDU2LjQ2MSw4LjYyNXoiIGZpbGw9IiM5OTk5OTkiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
          }
          &.next{
            background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU3IDU3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1NyA1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgo8cGF0aCBkPSJNNTYuNTc1LDI3LjY4M2wtMjctMTljLTAuMzA2LTAuMjE2LTAuNzAzLTAuMjQyLTEuMDM2LTAuMDdDMjguMjA4LDguNzg0LDI4LDkuMTI3LDI4LDkuNXYxNy43NzdMMS41NzUsOC42OTQgIEMxLjI3LDguNDgxLDAuODcyLDguNDUzLDAuNTM5LDguNjI1QzAuMjA4LDguNzk3LDAsOS4xNCwwLDkuNTEzdjM3Ljk3NWMwLDAuMzczLDAuMjA4LDAuNzE2LDAuNTM5LDAuODg4ICBDMC42ODUsNDguNDUsMC44NDMsNDguNDg3LDEsNDguNDg3YzAuMjAyLDAsMC40MDMtMC4wNjIsMC41NzUtMC4xODJMMjgsMjkuNzIzVjQ3LjVjMCwwLjM3MywwLjIwOCwwLjcxNiwwLjUzOSwwLjg4OCAgQzI4LjY4NSw0OC40NjMsMjguODQzLDQ4LjUsMjksNDguNWMwLjIwMiwwLDAuNDA0LTAuMDYyLDAuNTc1LTAuMTgzbDI3LTE5QzU2Ljg0MiwyOS4xMzEsNTcsMjguODI1LDU3LDI4LjUgIFM1Ni44NDIsMjcuODY5LDU2LjU3NSwyNy42ODN6IiBmaWxsPSIjOTk5OTk5Ii8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
          }
        }
      }
    }

    &.left{
      width: 15%;
      text-align: center;
    }
    &.center{
      width: 69%
    }
    &.right{
      width: 16%;
    }
  }
}

#timeLine{
  width: 100%;
  height: 5px;
  background-color: #444;
  display: flex;
  flex-wrap: wrap;
  >.line{
    width: 0px;
    height: 100%;
    display: flex;
    background-color: #f36;
    position: relative;
    >span{
      width   : 20px;
      height  : 20px;
      position: absolute;
      right: -10px;
      top  : -7px;
      background-color : #fff;
      @include radius(100px);
    }
  }
}

footer{
  width: 100%;
  color:#444;
  bottom: 0px;
  left: 0px;
}
